# Dependencies
node_modules/
**/node_modules/
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js

# Build outputs
dist/
build/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
coverage/

# Temp files
tmp/
temp/

# Debug
.nyc_output/

# Trade reports
trade_reports/

# Data cache
server/api/data_cache/
server/data/uk_historical/

